.nested-fields.row
  .field-group.col-3
    = f.label :item_id, class: 'form-label'
    = f.select :item_id, options_from_collection_for_select(InventoryItem.all, "id", "name"), {}, class: 'form-control'
  .field-group.col-2
    = f.label :quantity, class: 'form-label'
    = f.text_field :quantity, class: 'form-control'
  .field-group.col-2
    = f.label :price, class: 'form-label'
    = f.text_field :price, class: 'form-control'
  .field-group.col-2
    = f.label :tax, class: 'form-label'
    = f.text_field :tax, class: 'form-control'
  .col-2
    = f.label "Actions", class: 'form-label'
    = link_to_remove_association "remove item", f, class: 'form-control btn btn-danger'