.card
  .card-header
    .text-start
      .d-inline-flex
        %h4 Quote
    .text-end
      .d-inline-flex
        = link_to 'Edit', edit_quote_path(@quote), class: 'btn btn-primary btn-sm'
  .card-body
    .row
      .col-3
        %strong Customer:
        = link_to @quote.customer.name
      .col-3
        %strong Status:
        = @quote.status
      .col-3
        %strong Total:
        = number_to_currency @quote.total
      
      .col-6
        %strong Shipping Address:
        = @quote.shipping_address.full_address
        %br
        %strong Billing Address:
        = @quote.billing_address.full_address
      .col-3
        %strong Taxes:
        = number_to_currency @quote.taxes
        %strong Fees:
        = number_to_currency @quote.fees
    %hr

    .row
      .col-12
        %h4 Items
        %table#quote_items
          %thead
            %tr
              %th Name
              %th Description
              %th Quantity
              %th Active
              %th Price
              %th Category
          %tbody
            - @quote.quote_items.each do |inventory_item|
              %tr
                %td= link_to inventory_item.item.name&.truncate(30), inventory_item.item
                %td= inventory_item.item.description&.truncate(40)
                %td= inventory_item.quantity
                %td= inventory_item.item.active
                %td= inventory_item.price
                %td= inventory_item.item.category&.truncate(40)

:javascript
  $(function(){
    $('#quote_items').DataTable({
      "lengthChange": false
    });
  });