!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BetterCRM
    = csrf_meta_tags
    = csp_meta_tag
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css", :rel => "stylesheet"}/
    %script{:src => "https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"}
  %body
    = render partial: 'layouts/nav'
    %section.mainPage.container{style: 'margin-bottom: 100px;'}
      = yield
    = render partial: 'layouts/footer'
  %script{:charset => "utf8", :src => "https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js", :type => "text/javascript"}
